<a href="https://hackclub.com/"><img style="position: absolute; top: 20px; left: 0; border: 0; width: 256px; z-index: 999;" src="https://assets.hackclub.com/banners/2025.svg" alt="Hack Club"/></a>


<div class="relative h-screen" style="background: url('/assets/landing/landingbg-71ca199e.png'); background-size: cover; background-position-x: center">
    

    <div class="relative h-screen flex flex-col items-center justify-center">
        <%= image_tag "landing/landinglogo.png", class: "xl:max-w-6xl md:max-w-lg sm:max-w-sm max-w-xs" %>

        
        <%= render partial: "emailform" %>
        <p class="text-sm font-bold"><i>Enter your email to join!</i></p>

        <p class="bg-[#544FFF] rounded font-bold px-6 py-2">Free stickers</p>

    </div>

    <%= image_tag "landing/tracks1.png", class: "w-full -mt-8" %>


</div>

 <%= image_tag "landing/tracks1.png", class: "w-full -mt-8" %>
<div class="flex flex-col justify-center items-center mx-12">
    <div class="grid md:grid-cols-3 grid-cols-1 gap-8 mx-auto my-24">
        <div class="relative">
            <%= image_tag "landing/box.png", class: "w-full" %>
            <div class="absolute inset-0 flex flex-col justify-center items-center p-8 py-16 max-w-xl text-center">
                <p class="text-xl font-bold">Design your project</p>
                <p class="mt-4">Design the circuitry and 3d printed parts to your project!</p>
            </div>
        </div>
        <div class="relative">
            <%= image_tag "landing/box.png", class: "w-full" %>
            <div class="absolute inset-0 flex flex-col justify-center items-center p-8 py-16 max-w-xl text-center">
                <p class="text-xl font-bold">Build your project</p>
                <p class="mt-4">Get a grant up to 350 USD to build your project. Hack, iterate, and play with it IRL!</p>
            </div>
        </div>
        <div class="relative">
            <%= image_tag "landing/box.png", class: "w-full" %>
            <div class="absolute inset-0 flex flex-col justify-center items-center p-8 py-16 max-w-xl text-center">
                <p class="text-xl font-bold">Get invited to Undercity</p>
                <p class="mt-4">Undercity is a 4-day hardware hackathon @ Github HQ, July 11-14!</p>
            </div>
        </div>
        
        
    </div>
</div>

<%= image_tag "landing/tracks2.png", class: "w-full -mt-8" %>


<div class="mt-12 flex flex-col justify-center items-center mx-auto">
    <p class="text-6xl justify-center text-center font-bold">Choose Your Track</p>
    <p><i>Make as many projects as you want, as long as you finish building your previous one!</i></p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">

            <div class="border-2 border-[#5453FF] bg-[#302C61] rounded max-w-4xl p-8 justify-center text-center hover:shadow-[0_0_20px_5px_rgba(84,83,255,0.7)] transition-shadow duration-150 hover:-rotate-1">
                <p class="text-2xl font-bold">Launchpad projects - follow a guide, get a kit!</p>
                <p class="font-bold opacity-60"><i>For beginners and those who don't know what to make</i></p>
                <div class="bg-black w-[600px] h-96 mt-4"></div>
            </div>

            <div class="border-2 border-[#5453FF] bg-[#302C61] rounded max-w-4xl p-8 justify-center text-center hover:shadow-[0_0_20px_5px_rgba(84,83,255,0.7)] transition-shadow duration-150 hover:rotate-1">
                <p class="text-2xl font-bold">Your own project - get up to 350 USD!</p>
                <p class="font-bold opacity-60"><i>For epic, self-guided projects</i></p>
                <div class="bg-black w-[600px] h-96 mt-4"></div>
            </div>




    </div>

</div>

<div class="relative">
    <%= image_tag "landing/racecar.png", class: "absolute left-1/2 -translate-x-1/2 top-1/4 -translate-y-1/4", style: "width: 50%" %>
    <%= image_tag "landing/shards.png", class: "absolute top-1/2 -translate-y-1/2", style: "width: 50%" %>


    <div class="absolute left-1/2 -translate-x-1/2 top-3/4 -translate-y-3/4">
        <div class="justify-center text-center items-center mb-2">
            <p class="text-3xl font-bold">By the way, free stickers when you sign up!</p>
        </div>
        <%= render partial: "emailform"%>

    </div>

    <div>
        <%= image_tag "landing/stick1.png", class: "absolute top-1/2 -translate-y-1/2 right-0 r-30", style: "width: 15%" %>
        <%= image_tag "landing/stick2.png", class: "absolute top-1/2 -translate-y-1/2 right-12 r-30", style: "width: 15%" %>
    </div>



    <%= image_tag "landing/landing3.png", style: "width: 100%" %>

</div>



<div class="mt-12 flex flex-col justify-center text-center">
    <div class="justify-center text-center">
        <p class="text-6xl font-bold">Launchpad Projects</p>
        <p class="text-xl mt-2">If you're intimidated by the possibilites and unsure what to build - try one of our tutorials + get a kit to build it!</p>
    </div>

    <div class="grid xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 gap-8 my-12 mx-auto">
        <%= render partial: "kit", locals: { 
            badge: "recommended", 
            image: "landing/hackpad.png", 
            title: "Hackpad", 
            description: "Make your own macropad - use for desktop shortcuts!", 
            back_description: "A macropad is a device used for keyboard shortcuts! Want to turn your mic on/off using a key, change video streaming settings, or open a specific configuration in an app? A macropad can do it all!", 
            learnings: ["How to make a PCB using Kicad", "How to design a case using Fusion"], 
            link: "#" 
        } %>
            <%= render partial: "kit", locals: { 
            badge: "", 
            image: "landing/hackpad.png", 
            title: "Hackpad", 
            description: "Make your own macropad - use for desktop shortcuts!", 
            back_description: "A macropad is a device used for keyboard shortcuts! Want to turn your mic on/off using a key, change video streaming settings, or open a specific configuration in an app? A macropad can do it all!", 
            learnings: ["Make a PCB using Kicad", "Design a case using Fusion"], 
            link: "#" 
        } %>
            <%= render partial: "kit", locals: { 
            badge: "", 
            image: "landing/speaker.png", 
            title: "Whisperer", 
            description: "Make your own smart speaker - Talk with it!", 
            back_description: "A smart speaker is a loudspeaker with a built-in voice assistant! Want to play music by just saying \"Hey Jarvis, play Taylor Swift,\" or turn off your ceiling lights with \"Hey Jarvis, make it dark!\"? A smart speaker can do it all!", 
            learnings: ["Design a speaker using Onshape", "Code your own simple Voice Assistant"], 
            link: "#" 
        } %>
    </div>   
    <div class="flex justify-center items-center">
        <p class="rounded-3xl bg-[#5453FF] py-2 px-12 font-bold">SEE MORE</p> 
    </div>
</div>

<div class="grid md:grid-cols-2 grid-cols-1 gap-8 my-24 md:mx-44">
    <%= image_tag "landing/racetrack.png", style: "width: 50%; margin: 10px auto;" %>
    <div>
        <p class="text-3xl font-bold">Get invited to Undercity</p>
        <div class="mt-8">
            <p class="">1. Design your project! Journal, post updates & share your progress with others on this site!</p>
            <p>2. When you're done making the PCB / CAD for your project, ship it to get it reviewed for a grant!</p>
            <p>3. Buy the parts needed to physically build it!</p>
            <p>4. Ship the finalized project - and repeat!</p>

            <p class="mt-4">you can make as many projects as you want - as long as you finish building the previous one before getting the grant to the next one.</p>
            <p>each project is worth a certain amount of points, depending on its technical complexity - get 12 points to get an invite to undercity!</p>
        </div>
    </div>
</div>

<%# <%= render partial: "video" %>


<div class="mt-8 flex flex-col justify-center items-center mx-8">
    <p class="justify-center text-center font-bold text-6xl">FAQ</p>
    <div class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 mx-24 my-8 mx-auto">
        <%= render partial: "card", locals: { title: "Eligibility", content: "Anyone 18 or below in high school is welcome! If you're in middle school or a gap year student, check in with us at [email]. You will need to verify with ID when we send you your grant!" } %>
        <%= render partial: "card", locals: { title: "Are teams allowed for Highway projects?", content: "You are free to make the hardware project with a friend! However, you both need to make posts, and the grant will be shared between you two." } %>
        <%= render partial: "card", locals: { title: "Who's running this?", content: "A group of ~15 teenagers around the world! We're funded by Hack Club, a [503 non-profit who have had donations from x, y, z]." } %>
        <%= render partial: "card", locals: { title: "I'm new to hardware, can I join?", content: "Highway is for makers of all skill levels! We have a bunch of tutorials to follow if it's your first time - from making your own [macropad], to [x], to [y]. No worries if this is your first time!" } %>
        <%= render partial: "card", locals: { title: "Is this legit?", content: "Yup! Last summer, we ran [Arcade], and last winter, we ran [High Seas], both sponsored by GitHub. As for hackathons, we've run [apocalypse, boreal, outernet, scrapyard, juice etc!]" } %>
        <%= render partial: "card", locals: { title: "I need help!", content: "Read the expanded FAQ of our site [here]. Feel free to also ask in #highway-help in the Hack Club Slack!" } %>

    </div>
</div>


<div class="bg-[#110B20] flex flex-col justify-center text-center w-full py-8 text-[#5A59FF]">
    <p>Highway to Undercity is built with ♥︎ for teenagers, by teenagers</p>
    <p>Hack Club // Slack // Clubs // Hackathons</p>
</div>