<%= image_tag "/bg3.png", class: "absolute w-full h-screen h-full object-cover z-[-1] fixed opacity-20" %>

<a href="https://hackclub.com/"><img style="position: absolute; top: 100px; left: 0; border: 0; width: 256px; z-index: 10;" src="https://assets.hackclub.com/banners/2025.svg" alt="Hack Club"/></a>


<div class="relative h-screen" style="background: url('landingbg4.png'); background-size: cover; background-position-x: center">
    

    <div class="relative h-screen flex flex-col items-center justify-center">
        <%= image_tag "landing/landinglogo.png", class: "2xl:max-w-5xl xl:max-w-4xl md:max-w-3xl sm:max-w-xl max-w-sm mt-24" %>
        <div class="flex flex-col justify-center items-center">
            <%= render partial: "emailform" %>
            <%= link_to "https://forms.hackclub.com/highway-stickers", target: "_blank", rel: "noopener noreferrer" do %>
                <%= image_tag "/getstickers.gif", style: "width: 200px;", class: "mt-4" %>
            <% end %>
            <%= link_to "#about", class: "cursor-pointer" do %>
                <%= image_tag "/arrows.png", style: "width:50px;", class: "mt-12 animate-bobble" %>
            <% end %>
            

        </div>
    </div>

    <%= image_tag "landing/tracks1.png", class: "w-full -mt-8" %>


</div>

 <%= image_tag "landing/tracks1.png", class: "w-full -mt-8" %>
<div id="about" class="flex flex-col justify-center items-center lg:mx-12 mx-4">
    <div class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 lg:gap-8 mx-auto my-24 [&_p]:text-sm [&_p]:sm:text-base  justify-center">
        <div class="relative">
            <%= image_tag "landing/box.png", class: "w-full" %>
            <div class="absolute inset-0 flex flex-col justify-center items-center p-8 py-16 max-w-xl text-center">
                <div class="flex items-center justify-center gap-2 mx-auto">
                    <%= image_tag "/1.png", style: "width: 15px" %>
                    <h3 class="text-2xl font-bold ml-4 font-dystopian text-center">Design your project</h3>
                </div>
                <p class="mt-4">Custom PCBs? Check. Full CAD 3D model? Check.</p>
            </div>
        </div>
        <div class="relative">
            <%= image_tag "landing/box.png", class: "w-full" %>
            <div class="absolute inset-0 flex flex-col justify-center items-center p-8 py-16 max-w-xl text-center">
                <div class="flex items-center justify-center gap-2 mx-auto">
                    <%= image_tag "/2.png", style: "width: 20px" %>
                    <h3 class="text-2xl font-bold ml-4 font-dystopian">Build it IRL</h3>
                </div>                
                <p class="mt-4">Get all the parts sent to your doorstep. Build. Break. Iterate. Repeat </p>
            </div>
        </div>
        <div class="relative">
            <%= image_tag "landing/box.png", class: "w-full" %>
            <div class="absolute inset-0 flex flex-col justify-center items-center p-8 py-16 max-w-xl text-center">
                <div class="flex items-center justify-center gap-2 mx-auto">
                    <%= image_tag "/3.png", style: "width: 23px" %>
                    <h3 class="text-2xl font-bold ml-3 font-dystopian">Get invited to Undercity</h3>
                </div>                
                <p class="mt-4">Undercity is a 4-day hardware hackathon @ Github HQ San Francisco, July 11-14. There'll be 3D printers, a PCB mill, and hundreds of microcontrollers. Travel stipends included.</p>
            </div>
        </div>
        
        
    </div>
</div>

<%= image_tag "landing/tracks2.png", class: "w-full -mt-8" %>


<div class="my-24 flex flex-col justify-center items-center mx-auto p-10">
    <p class="text-4xl md:text-6xl justify-center text-center font-bold mx-5 font-dystopian">Choose Your Track</p>
    <p class="text-center text-lg md:text-xl mx-5"><i>Design. Share. Build. Repeat. Make as many projects as you can</i></p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mt-8">

            <%= link_to "/launchpad", class: "block" do %>
                <div class="flex flex-col gap-4 group border-2 border-[#5453FF] bg-[#302C61] rounded max-w-4xl p-8 justify-center text-center hover:shadow-[0_0_20px_5px_rgba(84,83,255,0.7)] transition-shadow duration-150 hover:-rotate-1">
                    <p class="text-2xl font-bold md:opacity-80 group-hover:opacity-100">Starter projects - follow a guide, get your parts!</p>
                    <p class="font-bold opacity-60 group-hover:opacity-80 group-hover:underline"><i>For beginners, or if you're unsure of what to make →</i></p>
                    <%= image_tag "/track1.png", class: "bg-black h-96 mt-auto md:opacity-80 group-hover:opacity-100 max-w-2xl" %>
                </div>
            <% end %>

            <%= link_to "/projects", class: "block" do %>
                <div class="flex flex-col gap-4 group border-2 border-[#5453FF] bg-[#302C61] rounded max-w-4xl p-8 justify-center text-center hover:shadow-[0_0_20px_5px_rgba(84,83,255,0.7)] transition-shadow  duration-150 hover:rotate-1">
                    <p class="text-2xl font-bold md:opacity-80 group-hover:opacity-100">Custom projects - get up to 350 USD!</p>
                    <p class="font-bold opacity-60 group-hover:opacity-80 group-hover:underline"><i>For epic, self-guided projects →</i></p>
                    <%= image_tag "/track2.png", class: "bg-black h-96 mt-auto md:opacity-80 group-hover:opacity-100 max-w-2xl" %>
                </div>
            <% end %>
    </div>
</div>

<div class="flex flex-col justify-center text-center p-10">
    <div class="justify-center text-center">
        <p class="text-4xl md:text-6xl font-bold font-dystopian">Starter Projects</p>
        <p class="text-lg md:text-xl mt-2">Never built a hardware project before? Have no idea what to do? Do a starter project! </p>
        <p class="text-lg md:text-xl">Get access to a <i>ton</i> of project-specific resources. Design your own, get the parts & tools shipped to you!</p>
    </div>

    <div class="flex flex-row flex-wrap gap-8 my-12 mx-auto">
        <%= render partial: "kit", locals: { 
            badge: "RECOMMENDED", 
            image: "landing/hackpad.png", 
            title: "Hackpad", 
            description: "Make your own mini keyboard. Get a soldering kit, 3D printed case, PCB, and all the components sent to you!", 
            back_description: "A macropad is a device used for keyboard shortcuts! Want to turn your mic on/off using a key, change video streaming settings, or open a specific configuration in an app? A macropad can do it all!", 
            learnings: ["How to make your own PCB", "How to design a custom 3D printed case"], 
            link: "#" 
        } %>
        <%= render partial: "kitsoon", locals: { 
            badge: "", 
            image: "mystery.png", 
            title: "???", 
            description: "Retrospect who?", 
        } %>
        <%= render partial: "kitsoon", locals: { 
            badge: "", 
            image: "mystery.png", 
            title: "???", 
            description: "Hey Orph. Tell me a Joke", 
        } %>

    </div>   
    <div class="flex justify-center items-center">
        <%= link_to "/launchpad", class: "rounded-3xl bg-[#5453FF] py-3 px-16 font-bold text-white hover:bg-[#3a3aFF] transition-colors duration-200" do %>
            LEARN MORE
        <% end %>   
    </div>
</div>


<div class="relative h-[140vh] flex flex-col justify-center items-center my-32 mb-44" style="background: url('portal.png'); background-size: cover; background-position-x: center;">
    

    <%= image_tag "/stickerbomb2.png", class: "absolute -top-12 sm:-top-24 left-0 w-full z-10 object-cover object-top" %>

    <div class="flex flex-col justify-center items-center text-center h-[140vh] w-full p-5" style="background: radial-gradient(circle, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0) 95%)">
        <%= image_tag "/hackclubgh.png", class: "max-w-[150px]"%>
        <%= image_tag "/undercity3.svg", class: "max-w-xl"%>
        <p class="text-3xl font-bold">4-day hardware hackathon</p>
        <p class="text-3xl font-bold">July 11-14 @ Github HQ</p>

        
        <p class="mt-8">Collect points for every hardware project you make through Highway.</p>
        <p class="">Guarenteed invite to Undercity at 12 points.</p>

        <%= image_tag "/cerblights.png", class: "max-w-[200px] mt-4"%>

        <p class="mt-4 opacity-60"><i>The Cerberus guards the portal from Highway to Undercity.</i></p>
        <p class="opacity-60"><i>Can you make it in?</i></p>
        <div class="mt-8">
            <%= link_to root_path, class: "rounded-3xl bg-[#5453FF] py-3 px-16 font-bold text-white hover:bg-[#3a3aFF] transition-colors duration-200" do %>
                LEARN MORE
            <% end %>    
        </div>
    </div>    

    <%= image_tag "/stickerbomb2.png", class: "absolute -bottom-12 sm:-bottom-24 left-0 w-full z-10 object-cover object-top" %>

</div>
<%# <%= render partial: "video" %>


<div class="mt-8 flex flex-col justify-center items-center mx-8">
    <p class="justify-center text-center font-bold text-6xl font-dystopian">FAQ</p>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3  gap-4 mx-24 mt-8 mx-auto">
        <%= render partial: "card", locals: { title: "Eligibility", content: "Anyone 18 or below in high school is welcome! You will need to verify with ID when we send you your grant, as well as you check in at Undercity." } %>
        <%= render partial: "card", locals: { title: "Are teams allowed for Highway projects?", content: "You are free to make the hardware project with a friend! However, you both need to make posts, and the grant and points will be split between you two." } %>
        <%= render partial: "card", locals: { title: "Who's running this?", content: "A group of ~15 teenagers around the world! We're apart of Hack Club, a 503(c)(3) nonprofit supported by Github and many others." } %>
        <%= render partial: "card", locals: { title: "I'm new to hardware, can I join?", content: "Highway is for makers of all skill levels! We have a bunch of tutorials to follow if it's your first time - see the Starter Projects section! No worries if you've never done it before." } %>
        <%= render partial: "card", locals: { title: "Is this legit?", content: "Yup! Last summer, we ran [Arcade], and last winter, we ran [High Seas], both sponsored by GitHub. As for hackathons, we've run [apocalypse, boreal, outernet, scrapyard, juice etc!]" } %>
        <%= render partial: "card", locals: { title: "I need help!", content: "Read the expanded FAQ of our site [here]. Feel free to also ask in #highway-help in the Hack Club Slack! For technical help, check out [resources] and ask in #highway!" } %>

    </div>
</div>


<div class="relative overflow-hidden">
    <%= image_tag "landing/racecar.png", class: "absolute left-1/2 -translate-x-1/2 top-1/4 -translate-y-1/4", style: "width: 50%" %>
    <%= image_tag "landing/shards.png", class: "absolute top-1/2 -translate-y-1/2", style: "width: 50%" %>


    <div class="absolute bottom-0 md:bottom-12 w-full text-center mx-5">
        <div class="text-white md:text-lg flex flex-col justify-center text-center py-8">
            <p class="hidden md:block">Highway to Undercity is built with <span class="hover:text-red-300">♥︎</span> for teenagers, by teenagers</p>
            <p class="block md:hidden">Highway to Undercity is built with ♥︎ <br> for teenagers, by teenagers</p>
            <p><a href="https://hackclub.com/" class="underline text-blue-300 hover:decoration-wavy" target="_blank" rel="noopenner noreferrer">Hack Club</a> ・ <a href="https://hackclub.com/clubs/" class="underline text-blue-300 hover:decoration-wavy" target="_blank" rel="noopenner noreferrer">Clubs</a> ・ <a href="https://hackathons.hackclub.com/" class="underline text-blue-300 hover:decoration-wavy" target="_blank" rel="noopenner noreferrer">Hackathons</a></p>
        </div>
    </div>

    <%= image_tag "landing/landing3.png", style: "width: 100%" %>

</div>