<div class="w-full bg-[#302C61] text-white px-8 flex items-center shadow-md">
  <div class="flex items-center space-x-4">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", alt: "Logo", style: "height: 80px" %>
    <% end %>
  </div>

  <div class="flex space-x-6 ml-12">
    <%= link_to "Announcements", root_path, class: "hover:underline" %>
    <%= link_to "Getting started", root_path, class: "hover:underline" %>
    <%= link_to "Launchpad projects", root_path, class: "hover:underline" %>
    <%= link_to "Resources", root_path, class: "hover:underline" %>
    <%= link_to "Project gallery", projects_path, class: "hover:underline" %>

  </div>
</div>