

<div class="landing-container">
    <%= image_tag "landing/landing1.png", class: "w-full" %>

    <div class="landing-text-container">
        <h1 class="landing-text title">HIGHWAY</h1>

        <% if @authenticated %>
            <%= link_to "go to main", posts_path, class: "landing-text subtitle" %>
        <% else %>
            <div class="landing-input-container">
                <%= form_with url: signin_path, method: :post, local: true do |form| %>
                    <%= form.text_field :email, placeholder: "Enter your email", class: "landing-input" %>
                    <%= form.submit "Enter", class: "landing-button" %>
                <% end %>
            </div>
        <% end %>
    </div>

</div>

<div class="container" style="text-align: center">
    <%= image_tag "landing/landing2.png", style: "width: 80%; margin: 10px auto;" %>
    <%= image_tag "landing/landing3.png", style: "width: 80%; margin: 10px auto;" %>
    <%= image_tag "landing/landing4.png", style: "width: 100%;" %>
    <p style="color: white">Enter the Undercity</p>


</div> 