<div class="w-64 bg-[#2E2A54] text-white p-5 h-screen fixed">
  <%= image_tag "logo.png", class: "w-full mb-8" %>

  <div class="text-center grid grid-cols-1 gap-2">
    <%= link_to "Main", posts_path, class: "hover:bg-[#564CAD] border-2 border-[#564CAD] p-2 rounded-lg transition duration-100 block" %>
    <%= link_to "User", root_path, class: "hover:bg-[#564CAD] border-2 border-[#564CAD] p-2 rounded-lg transition duration-100 block" %>
    <%= link_to "Leaderboards", root_path, class: "hover:bg-[#564CAD] border-2 border-[#564CAD] p-2 rounded-lg transition duration-100 block" %>
    <%= link_to "Info", root_path, class: "hover:bg-[#564CAD] border-2 border-[#564CAD] p-2 rounded-lg transition duration-100 block" %>
  </div>
</div>