<div class="w-72 border-r-4 border-r-[#2E2A54] text-white p-5 h-screen fixed">
  <%= image_tag "logo.png", class: "w-full mb-8" %>

  
  <% if current_user %>
    <div class="text-center grid grid-cols-1 gap-2 text-xl mb-12">
      <%= link_to "+ Create new post", new_post_path, class: "bg-[#62D5C3] p-2 rounded-4xl transition duration-100 block text-[#252036] font-bold" %>
    </div>
  <% end %>

  <div class="text-center grid grid-cols-1 gap-2 text-xl font-dystopian">
    <%= link_to "Main", posts_path, class: "#{current_page?(posts_path) ? 'bg-[#564CAD]' : 'hover:bg-[#564CAD]'} bg-[#2E2A54] p-2 rounded transition duration-100 block" %>
    <%= link_to "User", user_path(current_user), class: "#{current_page?(user_path(current_user)) ? 'bg-[#564CAD]' : 'hover:bg-[#564CAD]'} bg-[#2E2A54] p-2 rounded transition duration-100 block" %>
    <%= link_to "Leaderboards", root_path, class: "#{current_page?(root_path) ? 'bg-[#564CAD]' : 'hover:bg-[#564CAD]'} bg-[#2E2A54] p-2 rounded transition duration-100 block" %>
    <%= link_to "Info", info_path, class: "#{current_page?(info_path) ? 'bg-[#564CAD]' : 'hover:bg-[#564CAD]'} bg-[#2E2A54] p-2 rounded transition duration-100 block" %>
  </div>

  <div class="text-sm opacity-70 mt-8">
    <% if current_user %>
      <p class="">welcome, <%= current_user.email %>!</p>      
    <% else %>
      <p class="">Not signed in</p>
    <% end %>
    <%= link_to "â† back to landing", root_path, class: "opacity-50 hover:opacity-100" %>

    
  </div>
</div>