<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Highway: Custom Projects" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/highwaystar.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script defer data-domain="highway.hackclub.com" src="https://plausible.io/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Knewave&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <main class="">
        <div class = "grid grid-cols-5">
        <div class = "col-span-full md:col-span-1 inline md:sticky md:h-screen top-0 mt-8">
          <%= render partial: "advanced/sidebar" %>
        </div>
        <div class="max-md:order-first col-span-full md:col-span-4 ">
            <div class = "flex flex-col h-[100vh]">
                <div><%= render "shared/topbar", class: "sticky top-0" %></div>
                  <div class = "p-8 md:p-12 mt-14">
                  <%= yield %>
                  </div>
            </div>
        </div>
    </div>
    </main>
  </body>
</html>
